<!-- templates/car_rental/car_list.html -->
{% extends 'car_rental/base.html' %}

{% block title %}Car List{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>Car List</h2>

        <!-- Brand Filter Form -->
        <form method="get" class="mb-3">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="brandFilter">Brand:</label>
                    <select id="brandFilter" name="brand" class="form-control">
                        <option value="">All Brands</option>
                        {% for brand in brands %}
                            <option value="{{ brand }}" {% if brand == brand_filter %}selected{% endif %}>{{ brand }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-md-2">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </div>
        </form>

        <div class="row">
            {% for car in cars %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        
                        <div class="card-body">
                            <h5 class="card-title">{{ car.brand }} {{ car.model }}</h5>
                            <a href="{% url 'car_detail' pk=car.pk %}" class="btn btn-primary">Details</a>
                            {% if user.is_authenticated %}
                                <a href="{% url 'car_edit' pk=car.pk %}" class="btn btn-warning">Edit</a>
                                <a href="{% url 'car_delete' pk=car.pk %}" class="btn btn-danger">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if user.is_authenticated %}
            <a href="{% url 'car_new' %}" class="btn btn-primary mt-3">Add a new car</a>
        {% endif %}
    </div>
{% endblock %}
